# Entorno virtual
venv/
.venv/

# Variables de entorno (¡La caja fuerte nunca se sube a internet!)
.env

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de respaldo
transcribe.py

# Archivos de sistema de macOS
.DS_Store
.AppleDouble
.LSOverride
**/._*